//https://www.htmlcsscolor.com: get color name
:root {
  --QuarterSpanishWhite: #F2E3D1;
  --GoldenTainoi: #F6C15B;
  --Espresso: #4F2E26;
  --White: #fff;
  --ChartreuseYellow: #DBFF00;
  --OutrageousOrange: #FF663D;
  --Prim: #DBD9DA;
  --Red: #FF0000;
  --Green: #28a745;
  --Black: #000;
  --Black850: rgba(0, 0, 0, 0.85);
  --Black100: rgba(0, 0, 0, 0.1);
}
